body {
    
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 200px;
    height: 65vh;
    background-color: rgb(240, 242, 245);
}

/* Логотип */
.img_logo_facebook {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
}

img {
    max-width: 320px;
}

/* Текст под логотипом */
#text_under_logo {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: normal;
    margin-top: -15px;
}
#logo{
    margin-left: -30px;
}

/* Форма */
.login {
    background-color: white;
    width: 100%;
    height: 300px;
    max-width: 360px;
    margin-left: 100px;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Поля ввода */
.log {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-size: 16px;
    box-sizing: border-box;
}

/* Кнопка входа */
.vhod {
    width: 100%;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
}
/* Поле нового аккаунта*/
.create_acc {
    width: 70%;
    background-color: #42b72a; 
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
}
.create_acc:hover{
    background-color:  #36a420;
}
.vhod:hover {
    background-color: #166fe5;
}

/* Ссылка */
#forgot_pass {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #1877f2;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}

#forgot_pass:hover {
    text-decoration: underline;
}
#description{
    padding-top: 40px;
    font-size: 12.9px;
    text-align: center;
}