body, html {
    margin: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.container {
    display: flex;          
    height: 93vh;          
}
#logo {
    width: 75px;
    margin-left: 50px;
    margin-top: 50px;
}
#text {
    max-width: 750px;
    width: 100%;
    font-size: clamp(22px, 3vw, 44px);
    line-height: 1.3;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;

}
#stories{
    width: 550px;
    margin-top: -80px;
}
#facebook_logo{
    width:25px;
    padding-right:3px;
    padding-top: 1px;
}
.left {
    display: flex;               
    flex-direction: column;      
    justify-content: center;    
    align-items: center;        
    flex: 54;
    background-color: #fff;
    border-right: 2px solid #ccc;
    padding-top: 20px

}


.right {
    flex: 36;                
    background-color: #fff;
    padding: 20px;
    margin-top: 90px;
    margin-left: 35px;
}
@media (max-width:1025px) {
    .left{
        display: none;
    }
    .l #logo{
        position: absolute;
        left:40%;
        width:60px;
    }
    .l{
        border-bottom:2px solid #ccc; 
        box-sizing: border-box; 
        padding: 20px;
}
}

.gradient-text {
    background-image: linear-gradient(90deg, #ff4b2b, #c11a6a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow_button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}


.arrow_button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow_button:hover{
    background-color: #E6EBEF;
}
.logger{
    width: 90%;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 14px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid lightgray ;
}
.vhod{
    background-color: #0095f6;
    width: 85%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    border: none;
    opacity: 35%;
    color: white;
    cursor:not-allowed;
}
.forgot_pass{
    margin-top: 10px;
    background-color: white;
    width: 85%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    border:none;
    cursor: pointer;
}
.forgot_pass:hover{
    background-color: #E6EBEF;
}
.create_acc{
    margin-top: 10px;
    background-color: white;
    width: 85%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    border:1px solid blue;
    cursor: pointer;
    color:blue;
}
.facebook_logger{
    margin-top: 10px;
    background-color: white;
    width: 85%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    border:1px solid lightgray;
    cursor: pointer;
}
.create_acc:hover{
    background-color: #E6EBEF;
}
.facebook_logger:hover{
    background-color: #E6EBEF;

}
.rtop{
    display: flex;
    align-items: self-start;
    justify-content: left;
    gap: 10px;
}
.rtop #text_enter{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

