<div class="heading">
    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/a/aa/Logo_of_Kaspi_bank.png/1280px-Logo_of_Kaspi_bank.png?20170626135209" alt="Kaspi Store Logo">
    <h1>Kaspi.kz</h1>
    <div class="links-container">
        <ul class="links">
            <li>
                <a href="#">Клиентам</a>
            </li>
            <li>
                <a href="#">Бизнесу</a>
            </li>
            <li>
                <a href="#">Kaspi Гид</a>
            </li>
        </ul>
    </div>
</div>