.searcher{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 10px 150px;
}
.searcher input{
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 15px;
}

.searcher button img{
  width: 100%;
  max-width: 20px;
  padding: 7px;
}
.searcher button{
  border: 1px solid #ddd;
  background-color: white;
  transition: background-color 0.3s ease;
}
.main{
  width: 100%;
  max-width: 100px;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  color: #333;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;

}
.searcher button:hover , .main:hover{
  cursor: pointer;
  background-color: #eee; 
}
.product-categories{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.product-categories button{
  padding: 15px;
  font-size: 20px;
  font-weight: 200;
  font-family: Montserrat, sans-serif;
  border: 1px solid #ddd;
  background-color: white;
  transition: background-color 0.3s ease;
  color: #333;
}
.product-categories button:hover{
  cursor: pointer;
  background-color: #eee;
  border-top: 2px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px;
  
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.product-link{
  text-decoration: none;
}
.product-name{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 0.1px;
    line-height: 1;
    padding-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 44px;
    box-sizing: border-box;  
}
.product-name:hover {
    text-decoration: underline;
}
.card p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 60px;
  margin: 0;
  font-size: 15px;
}
.price {
  font-weight: 500;
}
.pricings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #333;
}
.pricings p{
    margin: 0 0 -30px 0;
    font-size:14px;
    font-weight: 600;
    color: rgb(116, 116, 116);
}

.installment {
  display: flex;
  align-items: center;
  gap: 6px;
  display: inline-block;
}

.month-price {
  background-color: #FFE500;
  padding: 4px 4px;
  font-weight: 500;
}

.months {
  font-weight: 300;
  font-size: 14px;
}
.rating {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  width: 75px;
}

.stars-background {
  color: #ccc;
  width: 75px;
}

.stars-filled {
  color: #FFD700;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  white-space: nowrap;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: none;
  justify-content: center;
  margin-top: 40px;
}
.share-button{
  background-color: white;
  border: none;
}
.share-button:hover{
  cursor: pointer;
}
.share-button img{
  width: 18px;
  height: 18px;
  border: none;
}